
/* CREATED BY TUSAHR*/

body {
    font-family: averta !important;
}

.font-weight-normal {
    font-family: 'averta';
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}



.modal-body {
    position: relative;
    padding: 25px;
    border-radius: 0px;
}

.modal-content {
    border: none !important;
}

/*new css added by tusahr*/

.page-title {
    color: #192434;
    /*font-size: 1.25rem;*/
    margin-bottom: 0;
    font-family: mlb;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.card {
    border: none;
    /*background: #2D3253;*/
    background: linear-gradient(45deg, #192550, #2D3253);
}

    .card .card-title {
        color: #fff;
        margin-bottom: 1.25rem;
        text-transform: capitalize;
        font-family: averta;
        font-size: 1.125rem;
    }

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #A6A8B1;
    border: none !important;
}

/*.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.95rem 1.250rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1;
    color: #A6A8B1;
    background-color: #192434;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}*/

.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.95rem 1.250rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background-color: #281564 !important;
    background-clip: padding-box;
    border: 0px solid;
    box-shadow: 0px 0px 5px 0px #6737ff;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


select.form-control {
    padding: 0.25rem .50rem;
    color: #fff;
    /*border-radius: 25px;*/
    /*border: 1px solid #ced4da;*/
    outline: none !important;
    background: linear-gradient( 45deg, #281564, #192434) !important;
    /*box-shadow: none !important;*/
}

    select.form-control:focus {
        padding: 0.25rem .50rem;
        color: #fff;
        border-radius: 25px;
        /*border: 1px solid #ced4da;
    background-color: #192434 !important;*/
        background: linear-gradient( 45deg, #281564, #192434) !important;
    }

    select.form-control option {
        color: #A6A8B1;
        background: #252550 !important;
    }

.table tbody tr:hover {
    background: linear-gradient(-45deg, #281564, #6737FF, #281564);
    border-radius: 25px !important;
    color: #fff !important;
    animation: gradient 15s ease infinite;
    background-size: 500% 500%;
}

.table th, .table td {
    padding: 0.9500rem;
    vertical-align: top;
    font-family: averta !important;
    /* border-top: 1px solid #ebedf2; */
    /* border-radius: 25px; */
    font-size: 0.8rem;
}

.table td {
    border: none;
    white-space: normal !important;
}

.table thead tr th {
    border-bottom: 2.5px solid #fff !important;
    border-collapse: separate;
    border-spacing: 5px 5px;
    font-family: averta !important;
}

.content-wrapZ {
    padding: 2.50rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*background: linear-gradient(to bottom, #BEC3C4, #e1e2dd) !important;*/
    background: linear-gradient(-50deg, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
}

#clock {
    font-family: mlb;
    font-size: 25px;
    background-image: linear-gradient(-45deg, #281564, #6737FF,#281564) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
    text-transform: uppercase;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: mlb;
    src: url("../font/mlb/AgencyFBBlackCondensed.ttf");
}

@font-face {
    font-family: averta;
    src: url("../font/averta/AvertaDemoPECuttedDemo-Regular.otf");
}

a:hover {
    color: #fff;
    border-bottom: 2.5px solid #281564;
    text-decoration: none;
}

.countcom {
    /*background: #fff;
    border-radius: 50%;*/
    font-weight: bold;
    color: #1BBC9D;
    /*padding: 3px 7px 3px 7px;*/
}

.modal-footer {
    /*padding: 2.5px 5px 2.5px;
    margin-top: 2.5px;*/
    padding: 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: linear-gradient(-45deg, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc);
}

.modal-header {
    min-height: 15px;
    padding: 5px 10px;
    /* border-bottom: 1px solid #e5e5e5; */
    display: inline !important;
    background-image: linear-gradient(-45deg, #192434, #373737, #353535);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    color: #fff;
    font-family: averta;
    letter-spacing: 2.5px;
    border: none;
}

.close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    font-family: 'averta';
    color: #EB002F;
}

    .close:hover {
        opacity: 1;
        color: #EB002F;
    }

.modal-header .close {
    padding: 0px;
    margin: -30px -25px -25px auto;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #6737FF;
    font-family: averta;
}

.sidebar .nav .nav-item.active > .nav-link i {
    color: #6737FF;
}

.modal {
    overflow-y: auto;
}

/*.footer {
    background: transparent !important;
    padding: 10px 1rem;
    font-family: averta;
    border-top: 0px solid #e7dee9;
}*/


.footer {
    background: #fcfcfc !important;
    padding: 10px 1rem;
    font-family: averta;
    border-top: 0px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*.table-fixedheader { overflow: auto; height:500px}*/

table {
    border-collapse: collapse;
}

.table-fixedheader > thead tr th {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0 !important;
    z-index: 2;
}

/*.table-fixedheader thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: inset 0 -1px 0 #fff;
  background:#192434;
 }
 
 .table-fixedheader thead th:nth-child(6) {
    background: linear-gradient(to right, #192434, #2D3253);

}

.table-fixedheader thead th:nth-child(n + 7) {
    background:#2D3253;
}*/

/*UPDATE ON 12 JULY 2021*/

.btn-inverse-info:not(.btn-inverse-light) {
    color: #1BBC9D;
}

.btn.btn-icon {
    width: unset;
    height: unset;
    padding: 2.5px;
}

.btnedit {
    float: right !important;
    margin-top: -35px !important;
    padding-top: 5px !important;
    width: 25px !important;
    margin-right: -5px;
}

.btn-inverse-info:not(.btn-inverse-light):hover {
    color: #fff;
    background: #1BBC9D;
}

.searchCatgerpp {
    /*background-image: url(../images/searchicon.png);
            background-position: 10px 10px;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    font-size: 15px;
    padding: 5px 25px 5px 25px;
    border: 2.5px solid #6737FF;
    /*border: 0px solid;*/
    /*border: hidden;*/
    margin-bottom: 5px;
    border-radius: 25px;
    /*box-shadow: 0px 0px 5px 2.5px #6737FF;*/
    /*background:transparent;*/
    background: linear-gradient( 45deg, #281564, #192434) !important;
    color: #fff !important;
}

    .searchCatgerpp:hover {
        box-shadow: 0px 0px 5px 2.5px #6737FF;
    }

    .searchCatgerpp:focus {
        /*background-image: url(../images/searchicon.png);
            background-position: 10px 10px;*/
        /*background-repeat: no-repeat;*/
        width: 100%;
        font-size: 15px;
        padding: 5px 25px 5px 25px;
        border: 2.5px solid #6737FF;
        /*border: hidden;*/
        margin-bottom: 5px;
        border-radius: 25px;
        /*box-shadow: 0px 0px 15px -5px #777;*/
        background: transparent;
        color: #fff !important;
    }

.btnmdlcls:hover {
    border-bottom: 2.5px solid #EB002F;
    border-radius: 25px;
}

#myModal .modal-header {
    background: linear-gradient(-45deg, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc) !important;
    color: #192434 !important;
}

#myModaltaskhold .modal-header {
    background: linear-gradient(-45deg, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc) !important;
    color: #192434 !important;
}

#tblscroller::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc) !important;
}


.tblscroller::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc) !important;
}

.tblscroller {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 75vh;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #192434 !important;
}

.form-control:focus {
    background: #fff !important;
    color: #000;
    /*border: 1px solid black;*/
    font-family: averta !important;
    border: 2.5px solid #6737FF;
}

.fancyTabContent {
    padding: 25px 5px 5px;
    background: linear-gradient( 45deg, #192550, #2D3253);
}

.fancyTab.active {
    background: linear-gradient( 45deg, #192550, #2D3253);
    /* padding-bottom: 30px; */
}

.fancyTabContent {
    border-color: transparent;
    /*box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;*/
    /*padding: 30px 15px 15px;
            position: relative;*/
    /*background-color: #fff;*/
    height: auto;
}

.btn-facebook {
    background: linear-gradient(-45deg, #251550, #6737FF);
    animation: gradient 15s ease infinite;
    background-size: 250% 250%;
}


    .btn-facebook:hover, .btn-facebook:focus {
        /*background: #2d4278;*/
        background: linear-gradient(-45deg, #281564, #6737FF, #281564);
        color: #fff !important;
        animation: gradient 15s ease infinite;
        background-size: 250% 250%;
    }

/*change by tushar on 16 july 2021 start*/

.btn-check {
    cursor: pointer;
    line-height: 55px;
    color: red;
    margin-left: 250px;
}

.btnnew {
    color: #A6A8B1;
    padding: 5px 10px 5px 10px;
    /*border: 2.5px solid #777;*/
    cursor: pointer;
}

    .btnnew:hover {
        color: #fff;
        /*background-image: linear-gradient( -45deg, #281564, #6737FF,#281564) !important;
            background-size: 250% 250%;
            animation: gradient 15s ease infinite;*/
        /*box-shadow:0px 0px 5px 2.5px #353535;*/
        border-bottom: 2.5px solid #6737FF;
    }

.swal2-overlay {
    background-color: #281564;
}

.swal2-modal {
    /*background-image: linear-gradient(
-45deg
, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc) !important;*/
    border: 2.5px solid #6737FF;
}

.swal2-title {
    margin: 0px;
    font-size: 15px;
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);*/
    margin-bottom: 25px;
}

.swal2-title {
    margin: 0 0 .5em;
    color: #192434 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'averta';
    padding: 2.5px;
}

.swal2-icon.swal2-error {
    border-color: #EB002F !important;
    font-size: 10px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #281564 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.upl {
    color: #Fff;
}

@font-face {
    font-family: averta;
    src: url("../font/averta/AvertaDemoPECuttedDemo-Regular.otf");
}

.btn-orange {
    border: 1px solid #6737FF !important;
    text-align: left;
}

.btnupl {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-family: averta;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /*border: 1px solid transparent;*/
    border-radius: 5px;
}

.btn-orange img {
    width: 35px;
}

.table thead tr th {
    border: none;
    color: #fff;
}

.available-space {
    letter-spacing: 1.5px;
    font-family: mlb;
    font-size: 1.45rem;
    background-image: linear-gradient( -45deg, #281564, #6737FF,#281564) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
}

.table th {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.btn-gradient-primary {
    /*background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);*/
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-image: linear-gradient( -45deg, #281564, #6737FF,#281564) !important;
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
}

    .btn-gradient-primary:hover {
        /*background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);*/
        background-image: linear-gradient( 45deg, #281564, #6737FF,#281564) !important;
        background-size: 500% 500%;
        animation: gradient 15s ease infinite;
        color: #fff;
        border-bottom: 2.5px solid #EB002F;
    }

.table tbody + tbody {
    border-top: 0px solid;
}

.uplicon {
    font-size: 17px;
    color: #25e525;
}

.workimg {
    width: 35px;
    /*height: 25px;*/
    display: inline-block;
}

.form-group {
    color: #fff !important;
}

.btn-plusadd {
    cursor: pointer;
    line-height: 55px;
    color: #25e525;
    float: right;
    margin-right: -240px;
}

.page-title-icon {
    background: linear-gradient(45deg, #281564, #192434) !important;
    box-shadow: none !important;
}

.btn {
    /*font-size: 0.875rem;
    line-height: 1;*/
    font-family: averta !important;
}


.purchase-popup {
    /*background: #fff;*/
    background: linear-gradient( 45deg, #192550, #2D3253);
    padding: 25px 25px;
    border-radius: 5px;
    border: 2.5px solid #fff;
}

.sidebar .nav {
    width: 260px !important;
}



.classicheader {
    background-image: linear-gradient( -45deg, #281564, #6737FF,#281564) !important;
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
    border: none !important;
    font-family: averta !important;
}

    .classicheader img {
        width: 50px !important;
        height: 50px !important;
    }


.classicbg {
    background: linear-gradient( -50deg, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc);
}



.classicclosebtn:hover {
    /*border: 2.5px solid #6737FF;*/
    color: #fff;
    /* background-color: #777; */
    float: right;
    box-shadow: 0px 0px 15px -5px #5b6065;
    background-color: transparent !important;
    border-bottom: 2.5px solid #EB002F;
}


.classicclosebtn {
    color: #fff;
    /*background-color: #281564;*/
    float: right;
}

.classicnewbtn {
    color: #fff;
}

    .classicnewbtn:hover {
        /*border: 2.5px solid #6737FF;*/
        color: #fff;
        /* background-color: #777; */
        /*float: right;*/
        box-shadow: 0px 0px 15px -5px #5b6065;
        background-color: transparent !important;
        border-bottom: 2.5px solid #25e525;
    }

.classicbtn {
    border: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-image: linear-gradient( -45deg, #281564, #6737FF,#281564) !important;
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
}


.cancelBTN {
    font-family: averta !important;
    color: #EB002F !important;
}

    .cancelBTN:hover {
        color: #fff !important;
        border-bottom: 2.5px solid #EB002F;
    }

    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


    *::-webkit-scrollbar-track {
    background: none;
}

    *::-webkit-scrollbar {
    width: 5px;
}


    .ChildGridHead thead tr {
            background: linear-gradient(45deg, #281564, #192434, #281564) !important;
            color: #fff !important;            
        }

        .ChildGridHead thead tr th {
                    border-bottom: 1px solid #6737FF !important;
                    letter-spacing: 1px;
                    /*background: linear-gradient(45deg, #281564, #192434, #281564) !important;*/
              position:unset !important;
  /*position: sticky;*/
  top: unset;
  z-index: unset;
  background:transparent !important;
            box-shadow: none;
               }

        .ChildGridHead {
            box-shadow: 0px 0px 15px -5px #777;
        }


        .mytaskclbgtext {
    font-family: mlb;
    font-size: 25px;
    background-image: linear-gradient(-45deg, #281564, #6737FF,#281564) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
    text-transform: uppercase;
}


        .swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    background-color: transparent !important;
}

        .swal2-icon.swal2-success .swal2-success-fix {
background-color: transparent !important;
}

        .swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
            background-color: transparent !important;
        }



          /*tushar upload bar*/

        .upload-bar-body {
            padding: 25px;
            background: linear-gradient( -45deg, #BEC3C4, #e1e2dd, #ddf2f5, #eefbf5, #fcfcfc) !important;
            color: #192434 !important;
            border-radius: 25px;
        }

        .progressX {
            background: rgba(255,255,255,0.1);
            justify-content: flex-start;
            border-radius: 100px;
            align-items: center;
            position: relative;
            padding: 0 5px;
            display: flex;
            height: 5px  !important;
            width: 250px;
        }

        .progressX-value {
            animation: load 2.5s normal forwards;
            box-shadow: 0 10px 50px -10px #6737FF;
            border-radius: 100px;
            background: #6737FF;
            height: 5px !important;
            width: 0;
        }

                .progressUD {
            background: rgba(255,255,255,0.1);
            justify-content: flex-start;
            border-radius: 100px;
            align-items: center;
            position: relative;
            padding: 0 5px;
            display: flex;
            height: 5px;
            width: 250px;
        }

        .progressUD-value {
            animation: load 2.5s normal forwards;
            box-shadow: 0 10px 50px -10px #6737FF;
            border-radius: 100px;
            background: #6737FF;
            height: 25px;
            width: 0;
        }


        @keyframes load {
            0% {
                width: 0;
            }

            5% {
                width: 5%;
            }

            25% {
                width: 25%;
            }

            50% {
                width: 50%;
            }

            75% {
                width: 75%;
            }

            95% {
                width: 95%;
            }

            100% {
                width: 99%;
            }
        }

        .bxyVaO {
            display: flex;
            overflow: hidden;
        }

            .bxyVaO > img {
                display: flex;
                flex: 1 1 auto;
            }

                .bxyVaO > img > * {
                    fill: currentcolor;
                }


                .bxyVaO > svg {
                display: flex;
                flex: 1 1 auto;
            }

                .bxyVaO > svg > * {
                    fill: currentcolor;
                }

        .iTXuYA {
            height: 50px;
        }

        .cxCMfa {
            padding-bottom: 20px;
            color: #281564;
        }


                .loadingimganim {
            /*animation:zoom-in-zoom-out 1.5s infinite ease-in-out;*/
            animation: rotation 2.5s infinite linear !important;

        }

                loadingimganim2 {
                    animation:zoom-in-zoom-out 1.5s infinite ease-in-out;
                }


        @keyframes zoom-in-zoom-out {
0% {
transform: scale(1, 1);
}
50% {
transform: scale(1.1, 1.05);
}
100% {
transform: scale(1, 1);
}
}

        @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


        .poweredbyhover:hover {
            color:#666 !important;
            border:0px;
        }

        .powerbtn:hover {
            color:#EB002F !important;
            border-bottom: 0px;
        }


        .margin-top10px {
            margin-top: 10px;
        }

        margin-top5px {
            margin-top: 5px;
        }